<!DOCTYPE html>
<html>
    <head>
        <script src="./scripts/angular.js"></script>
        <script src="./scripts/learnDirective.js"></script>
        <script></script>
    </head>
    <body>
        <div ng-app="learnDirective" ng-controller="learnDirectiveController">
            This is from Main controller i.e. "learnDirectiveController"
            <br><br>
            Name is: {{name}}
            <br><br>
            -----------------------------------------------
            <br><br>
            This is from "Demo 1" which is using value from controller
            <br><br>
            <demo1-directive></demo1-directive>
            <br><br>
            -----------------------------------------------
            <br><br>
            This is from "random Demo" where change of value in controller is reflected in directive
            <br><br>
            This one is of parent Controller <br><br>
            <input type="text" ng-model="randomText"><br><br>
            This one is of "random Directive" <br><br>
            <random-directive></random-directive>
            <br><br>
            -----------------------------------------------
            <br><br>
            This is from "Demo 2" which is using value from <b>Root Scope</b><br><br>
            <demo2-directive></demo2-directive><br><br>
            <input type="text" ng-model="rootScopeText"><br><br>
            -----------------------------------------------
            <br><br>
            This is from "Demo 3" which is using <b>Transclude</b> <br><br>
            <demo3-directive><b>This is the transcluded text</b></demo3-directive>
            <br><br>
            -----------------------------------------------
            <br><br>
            This is from "Demo 4" which is using interpolation in transcluded text: <br><br>
            <input type="text" ng-model="twoWayBindedText"><br><br>
            <demo4-directive></demo4-directive>
            <br><br>
            -----------------------------------------------

        </div>

    </body>
</html>